h2{
    /* este estilo afeta a todos los h2 */
font-family: 'Courier New', Courier, monospace;
font-size: 40px; /* declaracion css 1 */
color: rgb(88, 197, 121); 
background-color: darkblue;

}
.textomorado{
color: blueviolet;

font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.clasecontenedorDIV { /* afectara a algunos contenedores div */
font-size: 30px;
width: 500px;
height: 400px;
background-color: aliceblue;

}

#fondoaleatorio { /*afecta solo a una etiqueta*/

    background-color: rgb(230, 82, 107);
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    font-size: 25px;

}

.textomorado:hover {

background-color: darkseagreen;
color: rosybrown;
}

.clasecontenedorDIV::first-letter {
    font-size: 75px;
    color: crimson;
    
}

.clase_estatic{

    font-size: 20px;
    background-color: aqua;
    position: static;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 200px;

}

.clase_estatic2{

    font-size: 20px;
    background-color: aqua;
    position: static;
    top: 20px;              /*no funciona sin margin*/
    left: 80px;
    right: 200px;

}

.clase_relative{
    font-size: 20px;
    background-color: rgb(133, 218, 171);
    height: 250px;
    width: 250px;
}
.clase_relative:hover {
position: relative;
top: -100px;
left: 100px;


}

.clase_relative2{
    font-size: 20px;
    background-color: rgb(243, 155, 234);
    height: 250px;
    width: 250px;
}
.clase_relative2:hover {
position: relative;
margin-top: 100px;
margin-left: 100px;
z-index: -5;

}

.ClaseAbsolute{
    font-size: 20px;
    background-color: aqua;
    position: absolute;
    height: 250px;
    width: 200px;  
    bottom: 200px;
    left: 100px;
    z-index: -5;  
}


.ClaseAbsoluteRelativa{
    font-size: 20px;
    background-color: aqua;
    position: absolute;
    height: 250px;
    width: 200px;
    bottom: 0px;
    left: 500px;


}

.clase_fixed{
    height: 500px;
    width: 410px;
    position: fixed;
    left: 500px;
    bottom: 100px;
    z-index: -10;

}

.Agua_de_Marca{

opacity: 0.3;
pointer-events: none;
z-index: 10;

}

.clase_sticky{

position: sticky;
font-size: 40px;
top: 0px;
left: 40px;
height: 300px;

}

.bloque{
background-color: rgb(204, 138, 58);
font-size: 20px;
margin: 20px;
color: rgb(152, 167, 114);


}

.tipoinlineblock{
background-color: rgb(248, 56, 56);
font-size: 30px;
margin: 10px;
color: rgb(46, 231, 46);
display: inline-block;
width: 500px;


}

.enlinea{
background-color: rgb(116, 116, 253);
display: inline;
font-size: 30px;
margin: 2px;
color: azure;
width: 80px;
height: 40px;

}

.tiponone{
background-color: rgb(74, 135, 139);
font-size: 20px;
margin: 20px;
color: rgb(46, 231, 46);
display: none;


}


.tipohidden{
background-color: rgb(228, 0, 0);
font-size: 20px;
margin: 20px;
color: rgb(30, 221, 30);
visibility: hidden;


}

.tipoFlex{
display: flex;
background-color: rgb(255, 211, 253);
align-items: center;
justify-content: space-around;


}

.ClaseNav{
background-color: chartreuse;
font-size: 32px;
padding-inline: 2px;
color: black;
display: inline;
list-style-type: none;

}

.ClaseNav a:hover {
background-color: coral;

}

#EjmDOM1 {

color: rgb(122, 139, 86);
font-weight: bold;


}