h2{
    /* este estilo afeta a todos los h2 */
font-family: 'Courier New', Courier, monospace;
font-size: 40px; /* declaracion css 1 */
color: rgb(88, 197, 121); 
background-color: darkblue;

}
.textomorado{
color: blueviolet;

font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.clasecontenedorDIV { /* afectara a algunos contenedores div */
font-size: 30px;
width: 500px;
height: 400px;
background-color: aliceblue;

}

#fondoaleatorio { /*afecta solo a una etiqueta*/

    background-color: rgb(230, 82, 107);
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    font-size: 25px;

}

.textomorado:hover {

background-color: darkseagreen;
color: rosybrown;
}

.clasecontenedorDIV::first-letter {
    font-size: 75px;
    color: crimson;
    
}

.clase_estatic{

    font-size: 20px;
    background-color: aqua;
    position: static;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 200px;

}

.clase_estatic2{

    font-size: 20px;
    background-color: aqua;
    position: static;
    top: 20px;              /*no funciona sin margin*/
    left: 80px;
    right: 200px;

}

.clase_relative{
    font-size: 20px;
    background-color: rgb(133, 218, 171);
    height: 250px;
    width: 250px;
}
.clase_relative:hover {
position: relative;
top: -100px;
left: 100px;


}

.clase_relative2{
    font-size: 20px;
    background-color: rgb(243, 155, 234);
    height: 250px;
    width: 250px;
}
.clase_relative2:hover {
position: relative;
margin-top: 100px;
margin-left: 100px;
z-index: -5;

}


